html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*******Map********/

#map {
  height: 75%;
  width: 960px;
  margin: auto;
  margin-top: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

@media screen and (max-width: 992px){
  #map {
    height: 50%;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

@media screen and (max-width: 600px){
  #map {
    height: 50%;
    width: 100%;
    margin: auto;
    margin-top: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

/*******Row********/

.row {
  width: 960px;
  margin: auto;
}

@media screen and (max-width: 992px){
  .row {
    width: 600px;
    margin: auto;
  }
}

@media screen and (max-width: 600px){
  .row {
    width: 300px;
    margin: auto;
  }
}

/*******Weather and Video Boxes********/

#temperatureBox, #conditionBox, #windBox {
  font-size: 23px;
  padding: 20px;
  text-align: center;
  color: #0A0A7C;
  height: 150px;
}

strong.wB {
  font-size: 50px;
  color: #0089EC;
}

.box {
  border: 1px solid #0089EC;
}

div#conditionBox, #player2 {
  border-left: none;
      border-right: none;
}

#player, #player2, #player3 {
  border-top: none;
}


@media screen and (max-width: 600px){
div#conditionBox {
  border-left: 1px solid #0089EC;
      border-right: 1px solid #0089EC;
}
}

@media screen and (max-width: 992px){
  #temperatureBox {
    border-bottom: none;
  } 
  div#conditionBox {
    border-right: 1px solid #0089EC;
  }
  #player {
    border-left: none;
    border-bottom: none;
  }
  #player3 {
    border-left:none;
  }
  }

button#btnGetWeather {
  width: 100%;
      background: #0089EC;
      border: none;
      padding: 20px;
      color: white;
      font-size: 30px;
}

.row .col {
    float: left;
    box-sizing: border-box;
     padding: 0 0rem; 
}

/*******Navbar********/

.z-depth-1, 
nav,  
.collapsible, 
.side-nav {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0); 
}

nav {
  background-color: #0089EC;
}

.nav-bar-logo {
      width: 100px;
}

@media screen and (max-width: 992px){
.nav-bar-logo {
      width: 100px;
      float:right;
}
}

@media screen and (max-width: 600px){
.nav-bar-logo {
      width: 75px;
      float:right;
}
}

@media screen and (min-width: 993px) {
  .nav-wrapper {
width: 960px;
    margin: auto;
  }
}

.side-nav a {
    color: #0089EC;
    }

    .side-nav li:hover {
      border-top: 1px solid #0089EC;
      border-bottom: 1px solid #0089EC;
      background: white;
    }

    .side-nav a:hover {
      background: white;
    }

/*******Navbar********/



